.c-bg {
    width: 20px;
    height: 100%;
    background-color: #59b256;
    position: absolute;
    left: 0;
  }




.img-fluid {
  transition: transform 0.3s ease;
}

.img-fluid:hover {
  transform: scale(1.05); /* Zoom on hover for effect */
}
